<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <div>
        <!--Is used to inject the child view (Index.cshtml) page into the master (_Layout.cshtml)-->
        @RenderBody()
    </div>
</body>
</html>